# Python 2/3 byte code stuff
__pycache__/
*.py[cod]

# PyCharm
.idea

# Distribution
dist/
bin/

# Default audio folder.
audio/

# flake8
tox.ini

# Log:
*.log

# Config
jamconfig.json

# Ingame downloader/converter
_ingame_dl/

# My markdown compiler
README.html
